<div class="container text-center situation_pro tab step"  id="3-content">
    <div class="row" id="subStepProjectOffers">
        <!-- projet -->
        <div class="title">
            <h2 class="fw-light">
                Mon projet
            </h2>
        </div>
        <div class="step1_1A_project row">
            <div class="col-md-12 col-sm-12">
                <label for="projectType">Que souhaitez-vous vous offrir ? <span class="projectType-validation validation-error"></label>
                <div class="labelSelect">
                    <select id="projectType" class="selectListe" name="projectType">
                        <option value="">Sélectionner</option>
                        <option value="appliances">Électroménager</option>
                        <option value="multimedia">Multimédia</option>
                        <option value="furniture">Mobilier</option>
                        <option value="vacation-leisure">Vacances et loisir</option>
                        <option value="wedding">Mariage</option>
                        <option value="study">Études</option>
                        <option value="treasury">Trésorerie</option>
                        <option value="others">Autres</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- fin projet -->
        <div class="btnForm">
      <div>
        <button type="button" class="btnPrev" >Précédent</button>
        <button type="button" class="btnNext">Suivant</button>
      </div>
    </div>
    </div>
</div>