{% extends 'base.html.twig' %}
{% block content %}
<div class="container text-center situation_pro tab step" id="0-content">
  <div class="row" id="btnPlacement">
    <div class="title">
      <h2 class="fw-light">
        Quel est votre projet ?
      </h2>
    </div>
    {{ form_start(form) }}
    <div class="step1_1A_project">
      {{ form_row(form.project) }}
    </div>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}
