{% extends 'base.html.twig' %}
{% block content %}
<div class="container text-center situation_pro tab step" id="6-content">
  <div class="row" id="revenue">
    <div class="title">
      <h2 class="fw-light">
        Les revenus mensuels du foyer
      </h2>
    </div>
    {{ form_start(form) }}
    <div class="step1_1A_project">
      {{ form_row(form.incomeBeforeTax) }}
      {{ form_row(form.incomeBeforeTaxCo) }}
    </div>
    <div class="btnForm">
      <div>
        <button type="button" class="btnPrev">Précédent</button>
        <button type="submit" class="btnNext">Suivant</button>
      </div>
    </div>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}
