{% extends 'base.html.twig' %}
{% block content %}
<div class="container text-center situation_pro tab step" id="11-content">
  <div class="row" id="situationInheritance">
    <div class="title">
      <h2 class="fw-light">
        Ma situation patrimoniale
      </h2>
    </div>
    {{ form_start(form) }}
    <div class="row mx-0 step1_1A_project conso_label">
      {{ form_row(form.estateStatus) }}
      {{ form_row(form.yearStatut) }}
    </div>
    <div class="btnForm">
      <div>
        <button type="button" class="btnPrev">Précédent</button>
        <button type="submit" class="btnNext">Suivant</button>
      </div>
    </div>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}
