<div class="container  text-center situation_pro tab step" id="11-content">
  <div class="row" id="situationInheritance">
    <div class="title">
      <h2 class="fw-light">
        Ma situation patrimoniale
      </h2>
    </div>
    <div class="row mx-0 step1_1A_project conso_label">
      <!-- statut - début -->
      <div class="col-md-12 col-sm-12">
        <label for="estateStatus">Quel est votre statut ? <span class="estateStatus-validation validation-error"></span></label>
        <div class="labelSelect">
          <select id="estateStatus" class="selectListe" name="selectListe">
            <option value="" >Sélectionner</option>
            <option value="owner">Propriétaire</option>
            <option value="tenant">Locataire</option>
            <option value="lodged">Hébergé</option>
          </select>
        </div>
      </div>
      <!-- statut - fin -->
      <!-- quelle année - début -->
      <div class="col-md-12 col-sm-12" style="width: 100%;">
        <div class="dateLabel">Depuis quelle date ?</div>
        <div class="dateInput">
          <div class="labelSelect">
            <select class="select_year" name="yearStatut">
            </select>
          </div>
        </div>
      </div>
      <!-- quelle année - fin -->
    </div>
    <div class="btnForm">
      <div>
        <button type="button" class="btnPrev">Précédent</button>
        <button type="button" class="btnNext">Suivant</button>
      </div>
    </div>
  </div>
</div>